<% include ../partials/header %>
  <header id="indexPage">
    <div class="jumbotron">
      <div class="row">
        <div class="presentation-header">
          <p>A comunidade que encontra e compartilha as melhores ofertas!</p>
          <a href="" class="btn btn-primary px-3 py-2">Registrar-se</a>
        </div>
        <img src="/img/main-bg.svg" class="jumb-bg">
      </div>
      </div>
  </header>

  <body>
    <div class="container">
      <div class="row">
          <% posts.forEach((post) => { %>
          <div class="col-12 col-sm-6 col-md-6 col-lg-4">
            <a href="/promocao/<%= post._id %>" class="custom-card">
              <div class="card">
                <div>
                  <p class="price">R$<%= post.price %></p>
                  <img src="<%= post.image %>" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                  <h5 class="card-title"><%= post.name %></h5>
                  <p class="card-text"><%= post.description.substring(0, 0) %></p>
                  <div class="card-buttons">
                    <i class="far fa-bookmark"></i>
                    <i class="far fa-comment-alt ml-1"></i>
                    <a href="<%= post.site %>" class="btn btn-primary btn-loja ml-3">Ir à Loja</a>
                  </div>
                  <p class="votes"><%= post.votes %></p>
                </div>
            </div>
            </a>
          </div>
          <% }); %>
      </div>
    </div>
  </body>
<% include ../partials/footer %>