<% include ../partials/header %>

<!----------------- HEADER --------------------->
  <header id="indexPage">
    <div class="jumbotron">
      <div class="row">
        <div class="presentation-header">
          <p>A comunidade que encontra e compartilha as melhores ofertas!</p>
          <% if(!currentUser) { %>
            <a href="/register" class="btn btn-primary px-3 py-2">Registrar-se</a>
          <% } %>
        </div>
        <img src="/img/main-bg.svg" class="jumb-bg">
      </div>
      </div>
  </header>

  <body>
      <div class="row">
          <div class="col-12">
            <hr class="col-3">
            <h2 class="text-center" id="topOfertas">Top Ofertas</h2>
            <hr class="col-3">
          </div>
      </div>

		  <!------------------------- LIST OF CARDS ---------------------->
		<div id="cards-container">
          	<% posts.forEach((post, index) => { %>
				<% if(post.category == 'celular') { %>
					<div class="mix celular" data-order="<%= post.votes %>">
				<% } 
					else if(post.category == 'notebook') { %>
					<div class="mix notebook" data-order="<%= post.votes %>">
				<% } 
					else if(post.category == 'tablet') { %>
					<div class="mix tablet" data-order="<%= post.votes %>">
				<% } %>
                    <div class="card">
                      <a href="/promocao/<%= post._id %>" class="custom-card">
                        <div>
                          <p class="price">R$<%= post.price%></p>
                          <img src="<%= post.image %>" class="card-img-top" alt="...">
                        </div>
                        <div class="card-body">
						  <h5 class="card-title"><%= post.name %></h5>
						</div>
                      </a>
                          
						<!---------------- Card buttons -------------->
						<div class="card-buttons" value="<%= post._id %>">
						<!----- Like button ----->
						<form action="/<%= post._id %>" method="post" class="vote" style="display: inline-block;">
							<input type="hidden" name="cardId" value="<%= post._id %>">
							<input type="hidden" name="votes" value="<%= post.votes %>">
							<input type="hidden" name="like" value="liked">
							<button type="submit" class="btn btn-success">
							<i class="far fa-thumbs-up"></i>
							</button>
						</form>
						
						<!----- Dislike button ------->
						<form action="/<%= post._id %>" method="post" class="vote" style="display: inline-block;">
							<input type="hidden" name="cardId" value="<%= post._id %>">
							<input type="hidden" name="votes" value="<%= post.votes %>">
							<input type="hidden" name="dislike" value="disliked">
							<button type="submit" class="btn btn-danger">
							<i class="far fa-thumbs-down"></i>
							</button>
						</form>

						<!--- Store button ----->
						<a href="<%= post.site %>" class="btn btn-primary btn-loja ml-3">Ir à Loja</a>
						</div>
						<p class="votes points" value="<%= post._id %>"><%= post.votes == undefined ? 0 : post.votes %></p>
					</div>
				</div>
          	<% }); %>
		</div>
  </body>
<% include ../partials/footer %>