<% include ../partials/header %>
  <header>
    <div class="jumbotron">
      <h1 class="display-4">Hello, world!</h1>
     </div>
  </header>

  <body>
    <div class="container">
      <% posts.forEach((post) => { %>
          <div class="card" style="width: 18rem;">
          <div>
            <p class="price">R$<%= post.price %></p>
            <img src="<%= post.image %>" class="card-img-top" alt="...">
            <p class="votes"><%= post.votes %></p>
          </div>
          <div class="card-body">
            <h5 class="card-title"><%= post.name %></h5>
            <p class="card-text"><%= post.description %></p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      <% }); %>
    </div>
  </body>
<% include ../partials/footer %>