<% include ../partials/header %>
  <header>
    <div class="jumbotron mt-5">
      <img src="/img/main-bg.svg" class="jumb-bg">
     </div>
  </header>

  <body>
    <div class="container">
      <% posts.forEach((post) => { %>
        <a href="/promocao/<%= post._id %>" class="custom-card">
          <div class="card">
            <div>
              <p class="price">R$<%= post.price %></p>
              <img src="<%= post.image %>" class="card-img-top" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title"><%= post.name %></h5>
              <p class="card-text"><%= post.description.substring(0, 0) %></p>
              <div class="card-buttons">
                 <i class="far fa-bookmark"></i>
                 <i class="far fa-comment-alt ml-1"></i>
                 <a href="<%= post.site %>" class="btn btn-loja ml-3">Ir à Loja</a>
              </div>
              <p class="votes"><%= post.votes %></p>
            </div>
        </div>
        </a>
      <% }); %>
    </div>
  </body>
<% include ../partials/footer %>