<% include ../partials/header %>
  <h1>SHOW PAGE</h1>
  <div class="container">
    <img src="<%= post.image %>" alt="<%= post.name %>">
    <a href="<%= post.site %>" class="btn btn-primary">Ir à Loja</a>
    <a href="/promocao/<%= post._id %>/edit" class="btn btn-success">Editar</a>
    <form action="/<%= post._id %>?_method=DELETE" method="post">
      <button type="submit" class="btn btn-danger" name="button">Excluir</button>
    </form>
    <p><%= post.price %></p>
    <p><%= post.votes %></p>
    <p><%= post.name %></p>
    <p><%= post.description %></p>
  </div>

  <div class="container">
    <div class="comments">
          <h3>Comentários</h3>

          <div class="comment-area">
            <ul class="list-group">
              <!-- comments area -->
            </ul>
          </div>

          <!--
        <form action="/promocao" method="post" id="new-comment-form">
              <div class="form-group">
                <input class="form-control" type="text" name="description" placeholder="description" required>
              </div>
              <div class="form-group">
                <button class="btn btn-primary btn-block" type="button">Comentar</button>
              </div>
          </form>
          -->

          <!-- List of To-do itens -->
			<h1>To Do Items</h1>
			<ul class="list-group" id="todo-list">
			<% todos.forEach(function(todo){ %>
				<li class="list-group-item">
					<span class="lead">
						<%= todo.text %>
					</span>
					<div class="pull-right">
						<a href="/todos/<%=todo._id%>/edit" class="btn btn-sm btn-warning">Edit</a>
						<form style="display: inline" method="POST" action="/todos/<%=todo._id%>?_method=DELETE">
							<button type="submit" class="btn btn-sm btn-danger">Delete</button>
						</form>
					</div>
					<div class="clearfix"></div>
				</li>
			<% }); %>
			</ul>
    </div>
  </div>
<% include ../partials/footer %>
