<% include ../partials/header %>

<!-------------- HEADER ----------------->
<div class="container-fluid">
<header class="mt-5" style="margin: 0 auto; text-align: center;" >
    <div class="pic-container mt-2">
      <img src="<%= post.image %>" alt="<%= post.name %>">  
    </div>
    <div class="btn-loja-mobile">
      <a href="<%= post.site %>" class="btn btn-primary btn-pic-page">Ir à Loja</a>
    </div>
</header>

    <!--
      <a href="/promocao/<%= post._id %>/edit" class="btn btn-success">Editar</a>
      <form action="/<%= post._id %>?_method=DELETE" method="post">
        <button type="submit" class="btn btn-danger" name="button">Excluir</button>
      </form>
    -->

  <!------------------ INFO BODY -------------------------->
    <div class="info-body">
      <div class="info-container">
        <h4><%= post.name %></h4>
        <div class="price-and-store">
          <p class="price price-show-page">R$ <%= post.price %></p>
        </div>
      </div>
      <div class="description mt-3">
        <h5>Descrição</h5>
        <p><%= post.description %></p>
      </div>
      <div class="btn-loja-desktop">
        <a href="<%= post.site %>" class="btn btn-primary btn-pic-desktop">Ir à Loja</a>
      </div>
    </div>
  </div>

    <!------------------ COMMENT SECTION ----------------->
    <div class="comments-section">
      <div class="toggle-btn" onclick="toggleSection('commentContent')">
        <p class="toggle-btn-title">Comentários</p>
        <i class="fas fa-angle-down float-right mt-1"></i>
      </div>
      
       <div class="comments-content" id="commentContent" style="display: none;">
        <div class="comments-area">
            <ul class="list-group" id="comments-section">
              <!-- load comments  -->
              <% post.comments.forEach(function(comment){ %>
                <li class="list-group-item">
                    <div class="row comments">
                    <div class="col-2">
                        <div class="user-pic-comment"><i class="fas fa-user"></i></div>
                    </div>
                    <span class="col-10 lead">
                      <%= comment.text %>
                    </span>
                    <div class="clearfix"></div>
                  </div>
                </li>
              <% }); %>
            </ul>
          </div>

          
        <form action="/promocao/<%= post._id %>/comments" method="post" class="form-inline new-comment-form">
              <div style="margin: 0 auto; display: -webkit-inline-box;">
                <div class="form-group">
                  <input class="form-control comment-input resp" type="text" name="comment[text]" id="commentInput"
                  placeholder="Comentar...">
                </div>
                <button class="btn btn-primary btn-comment" type="submit">
                  <i class="fas fa-paper-plane"></i>
                </button>
              </div>
          </form>
      </div>
    </div>
<% include ../partials/footer %>
